
.navBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    padding: 1.5em 1em;
    background-color: #ffffff;
}
.topNav{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.topNav a{
    padding-left: 4em;
    color: #000000;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.topNav a:hover{
    color: #9f9f9f;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}