.mainProj{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
  }
  .projText{
    padding: 2.5% 5%;
  }
  .projImg{
    height: 100%;
  }
  .mainProj:nth-of-type(even){
    flex-direction: row-reverse;
    text-align: right;
  }

@media (max-width: 480px){
  .mainProj{
    flex-wrap: wrap;
  }
  .projText{
    text-align: center;
  }
}