.mainProj{
    justify-content: space-between;
    margin: 5% 0;
}
.mainProj:first-of-type{
  margin-top: 55%;
}
.projText{
    margin: 2.5% 5%;
}
.projImg{
    height: 100%;
}
.mainProj:nth-of-type(even){
    flex-direction: row-reverse;
    text-align: right;
}

@media (max-width: 480px){
  .mainProj{
    flex-wrap: wrap;
    justify-content: center;
  }
  .projText{
    text-align: center;
  }
}