
.fs-12{
    font-size: 0.5rem;
    line-height: 0.667rem;
}
.fs-16{
    font-size: 0.667rem;
    line-height: 0.833rem;
}
.fs-18{
    font-size: 0.75rem;
    line-height: 1rem;
}
.fs-20{
    font-size: 0.833rem;
    line-height: 1.333rem;
}
.fs-24{
    font-size: 1rem;
    line-height: 1.333rem;
}
.fs-28{
    font-size: 1.167rem;
    line-height: 2rem;
}